.users-table-frame {
	width: 300px;
}

.add {
	margin: 1px;
	padding: 3px;
}

.new-user {
	
}

.new-user-group {
	padding: 3px;
}

.users-table {
	width: 100%;
}

.new-user-row {
	border: 1px solid gray;
}

.user {
	text-align: left;
	padding-left: 8px;
	color: #545454;
}

.name-text {
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.error-msg {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 20px;
	font-size: 10px;
	color: #bf5858;
}


