.tasks-table-frame {
	width: 650px;
}


.task-input {
	padding-left: 8px;
	height: 23px;
	width: 80%;
}

.new-task {
	
}

.new-task-group {
	display: flex;
}

.edit-task {
	
}

.edit-task-group {
	display: flex;
}

.tasks-table {
	width: 100%;

}

.new-task-row {
	border: 1px solid gray;
}

.task {
	text-align: left;
	padding-left: 8px;
	color: #545454;
}

.task-text {
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.task-text.complete {
	text-decoration: line-through;
}

.task-detail {
	width: 83%;
	display: inline-block;
}

.task-date {
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 8px;
}

tr, th {
	/* width: 300px; */
	/* border: 1px solid gray; */
}

.btn-add {
	height: 29px;
}

.img-edit {
	height: 18px;
}

.img-delete {
	height: 18px;
}

.img-complete {
	height: 18px;
}

.config-btn {
	display: inline-block;
	width: 22px;
	background: #d6d3d3;
	padding: 3px;
	margin-right: 4px;
	border-radius: 2px;
	text-align: center;
	vertical-align: super;
}