.tasks-table-frame {
	width: 650px;
}

tbody {
	
}

.task-input {
	padding-left: 8px;
	height: 23px;
	width: 80%;
}

.new-task {
	
}

.new-task-group {
	display: flex;
}

.edit-task {
	
}

.edit-task-group {
	display: flex;
}

.tasks-table {
	width: 100%;
  border: 1px solid black;
}

.new-task-row {
	border: 1px solid gray;
}

.task {
	padding-left: 10px;
	text-align: left;
	border: 1px solid black;
}

.task-detail {
	width: 70%;
	display: inline-block;
}

.task-text {

}

.task-text.complete {
	text-decoration: line-through;
}

tr, th {
	/* width: 300px; */
	border: 1px solid gray;
}

.btn-new-task {
	margin-left:2px;
	height: 29px;
	width: 15%;
}
	
.btn-add {
	height: 29px;
}

.img-edit {
	height: 20px;
}

.img-delete {
	height: 20px;
}

.img-complete {
	height: 20px;
}

.edit-btn {
	display: inline-block;
	width: 10%;
}

.delete-btn {
	display: inline-block;
	width: 10%;
}

.complete-btn {
	display: inline-block;
	width: 10%;
}

.error-msg {

}