.App {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	display: block;
}

.tables {
	margin-right: auto;
  margin-left: auto;
  
	width: 1000px;
}

.user-tasks {
	display: flex;
	margin-top: 30px;
}
/*
.user-row {
	width: 30%;
}*/

.all-tasks {
	margin-top: 60px;
}